# Ignore the entire midterm folder
Spring 2026 Notes/Systems/HW/Take home midterm 1/
Spring 2026 Notes/Mech Mat/HW/Take home
# LaTeX auxiliary files
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz

.vscode/